input {
  beats {
    port => {{ logstash_listen_port_beats }}
{% if logstash_ssl_certificate_file and logstash_ssl_key_file %}
    ssl => true
    ssl_certificate => "{{ logstash_ssl_certificate_file }}"
    ssl_key => "{{ logstash_ssl_key_file }}"
    ssl_verify_mode => "peer"
    ssl_certificate_authorities => "{{ logstash_ssl_ca_file }}"
{% endif %}
  }
}
